<h4>Inventory</h4>

<% if @user_items.empty? %>
   No items in inventory.

<% else %>
<table>
	<tr>
    <th>Name</th>
    <th>Type</th>
    <th>Credit Price</th>
  	</tr>
<% @user_items.each do |item| %>
	<tr>
		<td><%= item.name %></td>
		<td><%= item.item_type %></td>
		<td><%= item.price %></td>
		<td><%= link_to "Delete", inventory_path(item.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
<% end %>
</table>
<% end %>

<div id = "pagination">
   <%= paginate @user_items %>
</div>
