<h1>Avatar</h1>

<iframe src = "/model_handler/show.html?model=avatar" width = 400 height = 400 scrolling = "no" frameBorder="0">Browser not compatible.</iframe>

<table class = "colours" style="display:inline-block">
   <tr>
	<td>Top Colour:</td>
	<td><% if @user_colour1 != nil %>
	    	<div style = "width:50px; height:50px; background-color:rgb(<%= @user_colour1.red %>, <%= @user_colour1.green %>, <%= @user_colour1.blue %>)"></div>
	    <% else %>
	    None
	    <% end %></td>
	<td><%= form_for @user do |f| %>
	    <%= select_tag :colour1, options_for_select([["None", nil]] + 		@user_colours.collect{|u| [u.name, u.id] }, @user.colour1) %>
	</td>
   </tr><tr>
	<td>Bottom Colour:</td>
	<td><% if @user_colour2 != nil %>
	    	<div style = "width:50px; height:50px; background-color:rgb(<%= @user_colour2.red %>, <%= @user_colour2.green %>, <%= @user_colour2.blue %>)"></div>
	    <% else %>
	    None
	    <% end %></td>
	<td><%= select_tag :colour2, options_for_select([["None", nil]] +		@user_colours.collect{ |u| [u.name, u.id] }, @user.colour2) %>
	</td>
   </tr><tr>
	<td>Shoe Colour:</td>
	<td><% if @user_colour3 != nil %>
	    	<div style = "width:50px; height:50px; background-color:rgb(<%= @user_colour3.red %>, <%= @user_colour3.green %>, <%= @user_colour3.blue %>)"></div>
	    <% else %>
	    None
	    <% end %></td>
	<td><%= select_tag :colour3, options_for_select([["None", nil]] + 		@user_colours.collect{ |u| [u.name, u.id] }, @user.colour3) %></td>
   </tr>
   <tr>
   	<td><%= f.submit "Update" %><% end %></td>
   </tr>
</table>



<h4>Items</h4>

<% if @user_not_colours.empty? %>
   No items in inventory.

<% else %>
<table class = "avatar">
	<tr>
    <th></th>
    <th>Name</th>
    <th>Type</th>
    <th>Options</th>
  	</tr>
<% @user_not_colours.each do |item| %>
	<tr>
		<td>
		   <div class = "image">
		   <% if item.model_name? %>		
		   <iframe src="/model_handler/show.html?model=<%= item.model_name%>" width="90" height="90" scrolling="no" frameBorder="0" >Browser not compatible.</iframe>
		   <% end %>
		   </div>
		</td>
		<td><% if @user.hat == item.id %>
			<b><%= item.name %></b>
		    <% else %>
			<%= item.name %>
		    <% end %></td>
		<td><%= item.item_type %></td>
		<td><% if @user.hat == item.id %>
			<%= link_to "Remove", remove_user_path(item) %>
		    <% else %>
			<%= link_to "Wear", wear_user_path(item) %>
		    <% end %></td>
	</tr>
<% end %>
</table>
<% end %>

<div id = "pagination">
   <%= paginate @user_not_colours %>
</div>
