<h1>Avatar</h1>

<iframe src = "/model_handler/show.html?model=avatar" width = 300 height = 300 scrolling = "no" frameBorder="0" >Browser not compatible.</iframe>

<table class = "colours">
   <tr>
	<td>Top Colour:</td>
	<td><% if @user_colour1 != nil %>
	    <%= @user_colour1.name %>
	    <% else %>
	    Empty
	    <% end %></td>
	<td><%= form_for @user do |f| %>
	    <%= select_tag :colour1, options_for_select([["None", nil]] + 		@user_colours.collect{|u| [u.name, u.id] }, @user.colour1) %>
	</td>
   </tr><tr>
	<td>Bottom Colour:</td>
	<td><% if @user_colour2 != nil %>
	    <%= @user_colour2.name %>
	    <% else %>
	    Empty
	    <% end %></td>
	<td><%= select_tag :colour2, options_for_select([["None", nil]] +		@user_colours.collect{ |u| [u.name, u.id] }, @user.colour2) %>
	</td>
   </tr><tr>
	<td>Shoe Colour:</td>
	<td><% if @user_colour3 != nil %>
	    <%= @user_colour3.name %>
	    <% else %>
	    Empty
	    <% end %></td>
	<td><%= select_tag :colour3, options_for_select([["None", nil]] + 		@user_colours.collect{ |u| [u.name, u.id] }, @user.colour3) %>
	<%= f.submit "Update" %>
	<% end %></td>
   </tr>
</table>



<h4>Items</h4>

<% if @user_items.empty? %>
   No items in inventory.

<% else %>
<table class = "avatar">
	<tr>
    <th></th>
    <th>Name</th>
    <th>Type</th>
    <th>Options</th>
  	</tr>
<% @user_items.each do |item| %>
<% if item.item_type != "Colour" %>
	<tr>
		<td>
		   <div class = "image">
		   <% if item.model_name? %>		
		   <iframe src="/model_handler/show.html?model=<%= item.model_name%>" width="90" height="90" scrolling="no" frameBorder="0" >Browser not compatible.</iframe>
		   <% end %>
		   </div>
		</td>
		<td><%= item.name %></td>
		<td><%= item.item_type %></td>
		<% if item.item_type == "Hat" %>
		   <td><%= link_to "Wear", wear_user_path(item) %> &nbsp;&nbsp;&nbsp; <%= link_to "Remove", remove_user_path(item) %> </td>
		<% else %>
		   <td>This item is not yet equippable. </td>
		<% end %>
	</tr>
<% end %>
<% end %>
</table>
<% end %>

<div id = "pagination">
   <%= paginate @user_items %>
</div>
