<h1>Avatar</h1>

<iframe src = "/model_handler/show.html?model=avatar" width = 300 height = 300 scrolling = "no"></iframe>

<h4>Inventory</h4>

<% if @user_items.empty? %>
   No items in inventory.

<% else %>
<table>
	<tr>
    <th>Name</th>
    <th>Type</th>
  	</tr>
<% @user_items.each do |item| %>
	<tr>
		<td><%= item.name %></td>
		<td><%= item.item_type %></td>
		<% if item.item_type == "Hat" %>
		   <td><%= link_to "Wear", "#" %></td>
		   <td><%= link_to "Remove", "#" %></td>
		<% end %>
	</tr>
<% end %>
</table>
<% end %>

<div id = "pagination">
   <%= paginate @user_items %>
</div>
