<h1>Avatar</h1>

<iframe src = "/model_handler/show.html?model=avatar" width = 300 height = 300 scrolling = "no" frameBorder="0" >Browser not compatible.</iframe>

<table class = "colours">
   <tr>
	<td>Colour 1:</td>
	<td><%= @user.colour1 %></td>
	<td>Colour 2:</td>
	<td><%= @user.colour2 %></td>
	<td>Colour 3:</td>
	<td><%= @user.colour3 %></td>
   </tr>
</table>

<h4>Inventory</h4>

<% if @user_items.empty? %>
   No items in inventory.

<% else %>
<table class = "avatar">
	<tr>
    <th></th>
    <th>Name</th>
    <th>Type</th>
    <th>Options</th>
  	</tr>
<% @user_items.each do |item| %>
	<tr>
		<td>
		   <div class = "image">
		   <% if item.model_name? %>		
		   <iframe src="/model_handler/show.html?model=<%= item.model_name%>" width="90" height="90" scrolling="no" frameBorder="0" >Browser not compatible.</iframe>
		   <% end %>
		   </div>
		</td>
		<td><%= item.name %></td>
		<td><%= item.item_type %></td>
		<% if item.item_type == "Hat" || item.item_type == "Colour" %>
		   <td><%= link_to "Wear", wear_user_path(item) %> &nbsp;&nbsp;&nbsp; <%= link_to "Remove", remove_user_path(item) %> </td>
		<% else %>
		   <td>This item is not yet equippable. </td>
		<% end %>
	</tr>
<% end %>
</table>
<% end %>

<div id = "pagination">
   <%= paginate @user_items %>
</div>
