<h1>High Scores</h1>

<% if @crate_jumper_high_scores.empty? %>
   No scores to show.

<% else %>

<table>
  <tr>
    <th>Name</th>
    <th>Game</th>
    <th>Score</th>
  </tr>

<% @crate_jumper_high_scores.each do |high_score| %>
  <tr>
    <td><%= high_score.first_name %></td>
    <td><%= high_score.game %></td>
    <td><%= high_score.score %></td>
  </tr>
<% end %>
</table>

<% end %>

<br />


<h1>My Scores</h1>

<% if @my_high_scores.empty? %>
   No scores to show.

<% else %>
<table>
  <tr>
    <th>Game</th>
    <th>Score</th>
  </tr>

<% @my_high_scores.each do |high_score| %>
  <tr>
    <td><%= high_score.game %></td>
    <td><%= high_score.score %></td>
  </tr>
<% end %>
</table>

<% end %>

<br />
