<h1>Store</h1>

<div id = "wrap">
<div class = "store_sidebar">
	View:
	<ul>
	   <li><b><%= link_to 'Everything', items_path %></b></li>
	   <li><%= link_to 'Hats', :showHats_items %></li>
	   <li><%= link_to 'Tops', :showTops_items %></li>
	   <li><%= link_to 'Bottoms', :showBottoms_items %></li>
	   <li><%= link_to 'Shoes', :showShoes_items %></li>
	</ul>
</div>

<table class="store">
<tr>
	<td colspan="3">
<div>
    <%= render :partial => "notice/notice_div" %>
</div>
	</td>
</tr>
<% @items.each do |item| %>
  <tr>
    <td>
	<div class="image">
	<%= link_to (image_tag item.image_url), item %>
	</div>
    </td>
    <td><%= item.name %><br> Type: <%= item.item_type %><br>Price: <%= item.price %><br><%= item.description %></td>
    <td>
	<div class="links">
		<%= button_to "Buy", purchase_item_path(item), :method => :get, :confirm => "Are you sure you want to buy " +item.name+ "?" %>
	</div>
    </td>
  </tr>
<% end %>
<% if @items.empty? %>
   No items to show.
<% end %>
</table>
</div>
<br />

