<div>
    <%= render :partial => "notice/notice_div" %>
</div>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Item type:</b>
  <%= @item.item_type %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Model:</b>
  <% if @item.model_name? %>
  <iframe src="/model_handler/show.html?model=<%= @item.model_name %>" width="90" height="90" scrolling="no" ></iframe>
  <% else %>
  Sorry, preview not available.
  <% end %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<% if session[:login] == 1 %>
	<%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
<%= link_to 'Back', items_path %>
