<h1>Store</h1>

<div id = "wrap">
<div class = "store_sidebar">
	View:
	<ul>
	   <li><%= link_to 'Everything', items_path %></li>
	   <li><%= link_to 'Hats', :showHats_items %></li>
	   <li><b><%= link_to 'Colours', :showColours_items %></b></li>
	</ul>
</div>

<div id = "pagination">
   <%= paginate @items %>
</div>

<table class="store">
<tr>
	<td colspan="3">
<div>
    <%= render :partial => "notice/notice_div" %>
</div>
	</td>
</tr>
<% @items.each do |item| %>
  <tr>
    <td>
	<div style = "width:90px; height:90px; background-color:rgb(<%= item.red %>, <%= item.green %>, <%= item.blue %>)"></div>
    </td>
    <td><%= link_to item.name, item %><br> Type: <%= item.item_type %><br>Price: <%= item.price %><br><%= item.description %></td>
    <td>
	<div class="links">
		<%= button_to "Buy", purchase_item_path(item), :method => :get, :confirm => "Are you sure you want to buy " +item.name+ "?" %>
	</div>
    </td>
  </tr>
<% end %>
<% if @items.empty? %>
   No items to show.
<% end %>
</table>
</div>
<br />

