<h1>Store</h1>

<div id = "wrap">
<div class = "store_sidebar">
	View:
	<ul>
	   <li><%= link_to 'Everything', items_path %></li>
	   <li><b><%= link_to 'Hats', :showHats_items %></b></li>
	   <li><%= link_to 'Colours', :showColours_items %></li>
	   <li><%= link_to 'Tops', :showTops_items %></li>
	   <li><%= link_to 'Bottoms', :showBottoms_items %></li>
	   <li><%= link_to 'Shoes', :showShoes_items %></li>
	</ul>
</div>

<div id = "pagination">
   <%= paginate @items %>
</div>

<table class="store">

<% @items.each do |item| %>
  <tr>
    <td>
	<div class="image">
    <% if item.model_name? %>
    <iframe src="/model_handler/show.html?model=<%= item.model_name%>" width="90" height="90" scrolling="no" frameBorder="0" >Browser not compatible.</iframe>
    <% end %>
	</div>
    </td>
    <td><%= link_to item.name, item %><br> Type: <%= item.item_type %><br>Price: <%= item.price %><br><%= item.description %></td>
    <td>
	<div class="links">
		<%= button_to "Buy", purchase_item_path(item), :method => :get, :confirm => "Are you sure you want to buy " +item.name+ "?" %>
	</div>
    </td>
  </tr>
<% end %>
<% if @items.empty? %>
   No items to show.
<% end %>
</table>
</div>
<br />

