<!DOCTYPE html>
<html>
<head>
  <title>MeGL - &#47;dev&#47;null - <%= yield_for(:title, 'Group 1') %></title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="margin:0">
	<input type="hidden" value="<%=current_user.id %>" id="user_id" />
  <%= yield %>
</body>
</html>